#logo {
    height: 100%;
}

#navbar-center {
    flex: 1;
    justify-content: center;
}

#narbar-icon {
    font-size: 0.8em;
    margin-right: 5px;
}

#navbar-center-item-active {
    color: hsl(0, 0%, 21%);
    font-weight: bold;
}